{{ $home := .Site.Home.RelPermalink }}
<nav class="site-nav" role="navigation">
  <div class="site-shell nav-inner">
    <a href="{{ $home }}" class="f3 fw2 no-underline dib nav-brand">
      {{ .Site.Title }}
    </a>
    <div class="nav-links">
      <a href="{{ relLangURL "posts/" }}" class="f5 fw4 no-underline nav-link">博客</a>
      <a href="{{ relLangURL "search/" }}" class="f5 fw4 no-underline nav-link">搜索</a>
      <a href="{{ printf "%s#contact" $home }}" class="f5 fw4 no-underline nav-link">联系</a>
    </div>
  </div>
</nav>
